@page "~/access-denied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ошибка доступа";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас недостаточно прав для просмотра данной страницы.</p>
</header>
