.main{
  margin-top: 75px;
}
.card-technique{
  margin: 10px;
}
.card-index{
  margin: 10px;
  width: 300px;
}
.nav-tabs .nav-link.active{
  color: #28A745;
  border-color: #28A745;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}
.chat-list-body{
    max-width: 250px;
}
.media-body{
    flex-wrap: wrap;
    word-wrap: anywhere;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}