<h5>Аккаунты филиала</h5>
<hr/>
<ol>
    <li class="text-danger">
        AnyDesk сервер МАП: ID: 222383390 Пароль: AdminMapsoftt
        <br/>
        RAdmin сервер МАП: Ip: 204.66.100.203 Логин: <b>p</b> Пароль: <b>vim500</b>
    </li>
    <li class="text-danger">
        AnyDesk сервер СЕД: ID: 791896046 Пароль: GHGH*&^fvf544345GHG66$
        <br/>
        RAdmin сервер Сед: Ip: 204.66.100.242 Логин: <b>p</b> Пароль: <b>vim500</b>
    </li>
    <li class="text-danger">
        AnyDesk бэкап сервер: ID: 282680420 Пароль: GHGH*&^fvf544345GHG66$
        <br/>
        RAdmin бэкап сервер: Ip: 204.66.100.252 Логин: <b>p</b> Пароль: <b>vim500</b>
    </li>
    <li>
        Почта <b>len.filial.grodno@gmail.com Пароль: </b>
    </li>
    <li>
        Почта <b>len.filial.grodno.eng.prog@gmail.com Пароль: GHGH*&^fvf544345GHG66$</b>
    </li>
    <li>
        <a href="https://support.nces.by/sd/">НЦЭУ Суппорт</a> Логин: <b>375292865830</b>, Пароль: <b>FsvNTMD</b>
    </li>
    <li>
        <a href="https://ras.unibel.by">Электронное образование</a> Логин: <b>502001</b>, Пароль: <b>vk118Aad</b>
    </li>
    <li>
        <a href="http://82.209.211.198:9090">Помощник программиста</a> Логин: LenRooAdmin, Пароль: <b>Qwerty123456!</b>
    </li>
    <li>
        <a href="http://82.209.211.198:3993">Идентификационные номера</a> Логин: Lenroo, Пароль: <b>Qwerty123456!</b>
    </li>
</ol>