<h5>Что у нас по картриджам?</h5>
<a href="https://docs.google.com/spreadsheets/d/105ErJUdLvWhpo54Vy0D8s_ISEvmfrRYzkH44NJQ5CnA/edit#gid=280029284">Таблица с картриджами.</a>
<h6>Номер Юлии ОфисСитиПлюс (менеджер) - +375295081794</h6>
<hr/>

Порядок действий:
<ol>
    <li>
        Тебе принесли картридж, положи его в коробку, ну логично в принципе.    
    </li>
    <li>
        Когда картриджей там полная коробка или окло 7-10 штук, звонишь Юлии, ну или в компанию которая обслуживает филиал. Говориш: <br/> 
        "Здраствуйте, Это филиала по обес.... и так далее, можете приехать забрать?"
        <br/>
    </li>
    <li>
        Далее достаешь все картриджы с коробки, кладешь на пол, и каждый картридж записываешь в таблицу.
        <br/>
        На каждом картридже есть маркировка: TK 1200(Для принтеров Kyocera), HP 12a, Canon 703, Hp 85a, HP 505(Для принтера HP LaserJet P2035) и так далее.
        <h6 class="text-danger">ВАЖНО! Смотри внимательно каждый картридж. На каждом картридже должен быть написан номер кабинета.</h6>
        <p>
            С обслуживающей компанией на 29.10.2021 заключено два договора. Первый 467 помоему, это договор филиала, и 510 это договор УМК.
            <br/>
            К картриджам филиала относятся кабинеты: 105, 109, 110, 111, 112, 113, 114, 115, 234, 237, 238, 246, 247, 248, 252, 256(Да это кабинет отдела образования, но мы как филиала заправляем их картриджы), 259 и 56.
            <br/>
            К картриджам УМК, относятся кабинеты: 249, 250, 251, 253, 254, 255 и около актового зала два кабинета.
        </p>
    </li>
    <li>
        Все, заполнил табличку, приехал курьер и забрал картриджы.
    </li>
    <li>
        Когда картриджы привезли. Достаешь их всех из коробки, и сверяешь с таблицей, по кол-ву и так далее.
    </li>
    <li>
        В конце каждого месяца, обычно после 1 числа, вместе с картриджами, привозят акт:
        <br/>
        <h5 class="text-danger">Пример!</h5>
        <img src="img/about/akt.jpg" class="img-fluid rounded">
    </li>
    <li>
        Сверяем акт, если все хорошо, пишем внизу акта: <b>"Работы выполнены в полном объеме. Инженер-программист ____подпись____   ФИО"</b>. 
        Если акт по договру 510, относим его в 237 кабинет Марте.
        Если акт по другому догвору, проверяем и относим Гавриловой, или сразу Терезе Мироновне Секретарю в 115 кабинет, его передадут в центр.
    </li>
    <li class="text-danger">
        Вдруг надо срочно заправить картридж, а всего картриджей 3 шт, идешь по кабинетам, и собираешь. Насобирается приличное кол-во.
    </li>
    <li>
        Если какие-то будут вопросы по картриджам или надо закупить новые, идем к Гавриловой Надежде Викторовне, 113 кабинет.
        <br/>
        Если ошибка в акте, звони в обслуживающую компанию Юлии (Номер выше).
    </li>
</ol>