<h3 class="font-weight-bold">На кого ты работаешь?</h3>
<div class="card card-body border-danger">
    <h4>
        Ты работаешь инженером-программистом, на Филиал центра для обеспечения деятельности учреждений сферы образования
        по Ленинскому району г.Гродно (можно еще дописывать: в интересах Отдела образования спорта и туризма
        Ленинского района г.Гродно.
        <br/>
        Главной организацией является Центр для обеспечения деятельности учреждений сферы образования. Находится по адресу Врублевского 1/1 7 этаж.
        Также ты обслуживаешь Хозгруппу Ленинского района г. Гродно. Находятся они Врублевского 1/1 7 этаж (почти все кабинеты слева).
        В твои обязанности входят:
        <ol>
            <li>
                Обслуживание компьютеров и оргтехники сотрудников центра, филиала и хозгруппы. (Так же если есть желание, отдел образования помогать.)
            </li>
            <li>
                Сбор картриджей и отправка на заправку их в обслуживающию организацию.
            </li>
            <li>
                Быстрое и качественное устранение поломки или не работоспособности (Замена) компьютеров и оргтехгники.
            </li>
            <li>
                Проверять создание бэкапов программ МАП, СЕД, так же сделать бэкап базы данных Клиент Тк!
            </li>
            <li>
                И повеноваться поручениям начальства, не перечащим закон ы Республики Беларусь! Но кого это ебет. Лучше выполняй чем выебывайся.
            </li>
        </ol>
    </h4>
</div>
<hr/>
<h3 class="font-weight-bold">Кто твой начальник?</h3>
<div class="card card-body border-warning">
    <h4 class="font-weight-bold">Ленинский филиал центра Советская 14.</h4>
    <ol>
        <li>
            Начальник филиала Ленинского района: <b>Мокрова Елена Станиславовна.</b>
            Кабинет <b>259.</b> Номер телефона, если потребуется, она сама тебе сообщит.
        </li>
        <li>
            Заместитель начальник филиала Ленинского района: <b>Гаврилова Надежда Викторовна.</b>
            Кабинет <b>113.</b>
            Большую часть вопросов, через ее: договоры, заявки, программное обеспечение, картриджы, ремонт, состояние техники и тд.
            К ей обращаться по поводу каких-либо организационных вопросов. Вопросы по разному ПО.
        </li>
        <li>
            Начальник учетно-экономического управления: <b>Костьянецкая Дарья Александровна.</b>
            Кабинет <b>110.</b>
            Ее надо слушаться.
        </li>
    </ol>
    <h4 class="font-weight-bold">Центр для обеспечения деятельности учреждений сферы образования по Ленинскому району г. Гродно Врублевского 1/1 7 Этаж</h4>
    <ol>
        <li>
            Управляющий: <b>Косьянович Андрей Чеславович.</b> Кабинет <b>704 направо.</b>
            Обычно если тебя вызывают начальники с центра, должны тебе передать об этом, начальники филиала, Мокрова или Гаврилова.
        </li>
        <li>
            Заместитель управляющего: <b>Болтруканис Ольга Николаевна</b>. Кабинет <b>704 налево.</b>
            Обычно если тебя вызывают начальники с центра, должны тебе передать об этом, начальники филиала, Мокрова или Гаврилова.
        </li>
        <li>
            Бухгалтер: Кристина. Кабинет <b>703 сразу справа. Viber: +375292819322</b>
            Если переместить технику из филиала в хозгруппу или списать технику (только после согласования с начальством), обращаться к ей.
        </li>
    </ol>
    <h4 class="font-weight-bold">Отдел образования по Ленинскому району. Советская 14. !!!ОТДЕЛ ОБРАЗОВАНИЯ ДЛЯ ТЕБЯ НЕ НАЧАЛЬНИКИ!!!</h4>
    <ol>
        <li>
            Начальник Отдела образования: <b>Тарасевич Оксана Сергеевна.</b> Кабинет: <b>258.</b>
        </li>
        <li>
            Секретарь: Кабинет: <b>257.</b>
        </li>
        <li>
            Заместитель начальника: Наталья Петрововна: <b>256.</b>
        </li>
    </ol>
    <h4 class="font-weight-bold">Хозгруппа Ленинская. Врублевского 1/1 7 этаж. Почти все кабинеты налево. Номера хозгруппы лучше взять у Софии Евгеньевны 114 кабинет.</h4>
</div>
<hr/>
<h3 class="font-weight-bold">Какие твои кабинеты?</h3>
<div class="card card-body border-success">
    <h4 class="font-weight-bold">Кабинеты по адресу Советская 14.</h4>
    <h5>
        Кабинеты филиала: 1 этаж(105(материалы), 109(Зарплата), 110(начальник УЭУ), 111-Предбанник, 111-а(Банк),
        111-б(Зарплата), 112(Зарплата), 113(Зам.Начальника), 114(Кадровик. Нач.Зарплаты), 115(Секретарь)).
        <br/>
        2 этаж(234(Родительская плата), 237(По договорам), 238(Внебюджет), 246(Юристы), 247(Материалы),
        248, 252(Питание).
        <br/>
        3 этаж(56-Экономисты)
    </h5>
    <hr/>
    <h5>Кабинеты Отдела образования.
        <br/> 
        Отдел обарзования делится на <b>УМК (Кабы. 249, 250, 251, 255)</b> и <b>Аппарат(256, 257, 258)</b>.</h5>
</div>