<style>
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
</style>

<button
    type="button"
    class="btn btn-danger btn-floating btn-lg rounded"
    id="btn-back-to-top">
    <i class="bi bi-arrow-up-circle"></i>
</button>


<h3>Основные <a href="#route">IP адреса</a>, <a href="#pc">компьютеры</a> и обобщено про сервера.</h3>
<hr/>
<div class="card card-body my-3 border-success">
    <h4 id="route">Маршрутизаторы (Модемы)</h4>
    <h5>
        Статический Ip адрес, выданный белтелекомом, по которому можно подключаться из вне. IP: <b>82.209.211.198</b>.
        <br/>
        Далее используется приставка: 82.209.211.198:{номер порта}
    </h5>
    <br/>
    Примеры:
    <ol>
        <li>
            Садики используют нащ ip адрес и порт <b>8077</b>, для доступа к
            <a href="http://82.209.211.198:8077/" target="_blank">
                <b>Web-версии ЭССМ "Крошка"</b>
            </a>.
        </li>
        <li>
            Для программиста сайт доступен по порту <b>9090</b> <a href="http://82.209.211.198:9090/" target="_blank">Помощник программиста</a>. <br/>
            Логин: LenRooAdmin <br/>
            Пароль: Qwerty123456!
        </li>
        <li>
            Для сотрудника отдела образования, сайт с идентификационными номерами детей многодетных семей, использует порт
            <b>3993</b> <a href="http://82.209.211.198:3993" target="_blank">Идентификационные номера</a> <br/>
            Логин: Lenroo <br/>
            Пароль: Qwerty123456!
        </li>
        <li>
            RAdmin использует порт 4899, он прописан в модеме. Если RAdmin е отвечает, надо проверять порты. Иногда сбрасывает.
        </li>
        <li>
            Так же важно, открыт порт 1433, его использует SQL Server для работы сайтов!!!
        </li>
        <li>
            По приколу можно подключаться по порту 8080, можно будет перейти в почту СЕД.
            Ну это так, ради интереса. <a href="http://82.209.211.198:8080" target="_blank">СЕД</a>
        </li>
    </ol>
    <hr/>
    <div class="card card-body my-3 border-primary">
        <h5>Основной модем, находится в 248 кабе, отвечает за выход в интернет. Ip: <a href="http://204.66.100.235/" target="_blank">204.66.100.235</a></h5>
        <h6>
            Логин: <b>telecomadmin</b>
            <br/>
            Пароль: <b>admintelecom</b>
        </h6>
        <h6 class="text-danger">В основном на всех модемах от Белтелекома фирмы Huawei, стоят такие же логины и пароли, написанные выше.</h6>
        <hr/>
        <h5>Прокидование портов на модеме фирмы Huawei</h5>
        <ol>
            <li>
                Переходим по ip модема.
                <h1 class="text-danger">
                    ВНИМАНИЕ!!! НИЧЕГО НЕ ТРОГАЙТЕ В МОДЕМЕ VPN КАНАЛА, ЕСЛИ НЕ ХОТИТЕ ЧТОБЫ У ВАС БЫЛИ ПРОБЛЕМЫ,
                    НИЧЕГО НЕ ТРОГАЙТЕ НА VPN модеме. ЕСЛИ ЧТО, ЗВОНИТЕ В ТЕХПОДДЕРЖКУ ИЛИ СЕРВИСНЫЙ НОМЕР Г.ГРОДНО
                    <b>550808</b>!!!!
                </h1>
            </li>
            <li>
                Авторизируемся с помощю логина и пароля приведенного выше!
            </li>
            <li>
                Переходим на вкладку <b>"Forward Rules"</b> > <b>Port Mapping Configuration</b>.
                <img src="img/about/modem-1.jpg" class="img-fluid rounded"/>
            </li>
            <li>
                Далее уже даже школбник разбереться что куда писать!)
                Internal Host - назначем ip компьютера на который будет маршрутизатор передвать пакеты по портам.
            </li>
        </ol>
    </div>
    <div class="card card-body my-3 border-danger">
        <h5>VPN модем, находится в 248 кабе, предоставляет vpn канал для работы СЕД. Ip: <a href="http://204.66.100.254/" target="_blank">204.66.100.254</a></h5>
        <h1 class="text-danger">НИЧЕГО НЕ НАСТРАИВАЙТЕ САМИ! ПУСТЬ ЛУЧШЕ БЕЛТЕЛЕКОМ С ЭТИМ ЕБЕТСЯ ЕСЛИ СЛОМАЕТСЯ ЧТО-ТО!</h1>
        <h6>
            Логин: <b>telecomadmin</b>
            <br/>
            Пароль: <b>admintelecom</b>
        </h6>
        Этот модем нужен для работы СЕД на сервере с инвентаризационным номером 107.
    </div>
    <div class="card card-body my-3 border-warning">
        <h5>
            VPN модем, находится в 113 кабе, за столом Гавриловой. IP: <a href="http://204.66.100.92/">204.66.100.92</a>
            <br/>
            Тоже лучше его не трогать. Далее будет описано как его использовать, и как к ему прописывать маршруты.
            Он нужен для работы программ, а если быть точнее, то для отправки почты с программ <b>Казначейства (Клиент ТК)</b>, <b>Распорядителя средств (FM)</b>
        </h5>
        <br/>
    </div>
    <div class="card card-body my-3 border-warning">
        <h5>
            VPN модем, находится в кабе у Тарасевич (Начальник отдела образования). IP: <a href="http://192.168.80.1/">192.168.80.1</a>
            Он нужен для работы программы SMBussiness в кабе секретаря 256.
            И так же для работы прораммы Опека и попечительство в кабе 250.
            Там тоже свои приколы, если что спрашивать по этой программе в кабе 254 у Наумович.
        </h5>
        <br/>
    </div>
</div>
<div id="pc" class="card card-body my-3 border-primary">
    <h4>Основные компьютеры</h4>
    <div class="card card-body my-3 border-danger">
        <h5>
            Сервер где хранится МАП (МАПСОФТ). Он новый с подсветкой.
            <br/>
            Инвентарный номер <b>1360108</b>.
            <br/>
            CPU: Intel Core i7-6850K. RAM: 64gb. Windows Server 2016 Datacentr
            <br/>
            Имя в локальной сети: <b>\\server</b>, Ip: <b>204.66.100.203</b>.
            Логин: t
            <br/>
            Пароль: 0
        </h5>
    </div>
    <div class="card card-body my-3 border-info">
        <h5>
            Сервер где хранится СЕД. Он новый старый и шумный.
            <br/>
            Инвентарный номер <b>1360107</b>.
            <br/>
            CPU: Xeon. RAM: 12gb. Windows Server 2016 Datacentr
            <br/>
            Имя в локальной сети: <b>\\serverlen</b>, Ip: <b>204.66.100.242</b>.
            Без пароля
        </h5>
    </div>

    <div class="card card-body my-3 border-danger">
        <h5>
            Бэкап сервер. Он стоит на столе. Это можно считать твой рабочий компудахтер.
            <br/>
            Сюда с основного сервера, делаются бэкапы МАП. Бэкапы происходят два раза в день.
            1 бэкап в 13.00, он делается прямо на основном сервере.
            2 бэкап в 19.00, он делается на основном сервере, и отправляется по сети на бэкап сервер.
            <br/>
            Здесь найдешь что-нибудь полезное. Здесь скачаны образы Windows 7, 7-SP1 (с Interner Explorer 11, который нужен для работы статистики, ФСЗН).
            Всякий разный софт и короч довольно дохую хуйни.
            <br/>
            Имя в локальной сети: <b>\\programmer</b>, Ip: <b>204.66.100.252</b>.
            Логин: t
            <br/>
            Пароль: 0
        </h5>
    </div>
    <div class="card card-body my-3 border-success">
        <h5>
            Компьютер секретаря, которая сидит на первом этаже в 111-а кабинет.
            <br/>
            В общем, это самый главный компьютер, через его наш секретарь, отправляет платежки в банк, казначейство.
            Здесь лежит все, база короч дохуя всего. Эту базу надо хотябы раз в неделю бэкапить, потому что хуй знает,
            что может произойти. Потом в описании одной из программ, я напишу какую базу куда бэкапить.
            Ip: <b>204.66.100.205</b>
            Порт для того чтобы подключиться к базе данных: <b>3050</b>.
        </h5>
    </div>
    <div class="card card-body my-3 border-success">
        <h5>
            Компьютер начальника экономистов. Он стоит в 56 кабинете 3 этаж. Он новый Тесла.
            <br/>
            На это компе лежит база, которая нужна для работы программы Главный распорядитель средств(FM).
            Ip: <b>204.66.100.66</b>
            Порт для того чтобы подключиться к базе данных: <b>3050</b>.
        </h5>
    </div>
</div>

<script>
//Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>