@* @model List<Employee> *@

<h5>Тааааакссс МАААААП... Что это такое, и с чем его едят? По порядку</h5>
<hr/>
<div class="card my-2 card-body">
    <h6>И так, пункт 1. Кто такие МАПСОФТ и что такое МАП?</h6>
    <hr/>
    <p>
        ЗАО «МАПСОФТ» — белорусская компания-разработчик программного обеспечения.
        Мы разрабатываем и внедряем современные программы для бюджетных организаций Республики Беларусь.
        Наши решения повышают эффективность и качество работы государственных учреждений по всей республике.
        <br/>
        Клиенты ЗАО «МАПСОФТ» получают не только программные продукты, разработанные с учетом законодательства Республики Беларусь и специфики государственных учреждений различных бюджетных сфер, но и высокий уровень обслуживания.
        Многолетний опыт разработки программ и успешное сотрудничество с бюджетными организациями служат лучшей гарантией качества продуктов и услуг.
        <br/>
        Важно: весь этот текста, спизжен с официального сайта. <a href="https://www.mapsoft.by/about/">Источник - МАПСОФТ.</a> Давайте без авторского права)
    </p>
    <hr/>
    МАП - (это уже мой текст от себя) на данный момент, на нашем сервере установлен Бухгалтерский комплекс МАП.
    И само главное окно выглядит так:
    <img src="img/about/map-1.jpg" class="img-fluid rounded">
    Главное окно включает в себя верхнюю панель:
    В задачи мап входят разные причендалы:
    <img src="img/about/map-2.jpg" class="img-fluid rounded">
    <ol>
        <li>
            Заработная плата: включает в себя Персонифированный учет ФСЗН и Тарификация. (Ну тут ежу понятно для чего это раздел).
        </li>
        <li>
            Кадры: включает в себя Кадры и Персонифицированный учет ФСЗН.
        </li>
        <li>
            Материальные ценности: включает в себя Бланки строгой отчетности, Материалы, Основные средства и Отедльные предметы в составе оборотных средств.
        </li>
        <li>
            Оплата родителей (в простонародье родплата).
        </li>
        <li>
            Планирование: включает в себя Исполнение сметы расходов, Тарификация и Штатное расписание.
        </li>
        <li>
            Продукты питания: Меню раскладка (это кстати относитcя к ОССМ Крошка) и продукты питания.
        </li>
        <li>
            Сводная бухгалтреская отчетность
        </li>
        <li>
            Учет расходов на гособеспечение детей
        </li>
        <li>
            Финансовые операции: это самый важный раздел, и он включает в себя Банк, Главная книга, Исполнение сметы расходов, Касса, Контрагенты и Подопечные лица.
        </li>
    </ol>
    <h5>Вкладка сервис</h5>
    <img src="img/about/map-3.jpg" class="img-fluid rounded">
    <ol>
        <li>
            В этой вкладке самое полезное, это настройка программы. Там можешь отридачить шрифт, масштаб(можешь поиграться с масштабом).
            Если сотрудник слепой, увеличь ему масштаб на 120%, если больше 120%, отчету могут выеббываться.
            Так что с этими параметрами, поокуратнее. Шрифт можешь поднять с 8 на 9, или с 7 на 8, в принципе ничего страшного не произойдет.
            Если вдруг что с формами или отчетами, там дата съебалась в другой конец отчета, звони в мап, на горячую линию, пусть устраняют.
        </li>
    </ol>
    <hr/>
    <h5>Список пользователей МАП, по состоянию на 01.10.2021</h5>
    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Логин</th>
            <th scope="col">Кабинет</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            @* @{ *@
            @*     foreach (Employee employee in Model) *@
            @*     { *@
            @*         <th scope="row">@employee.NumberPcMap</th> *@
            @*         <td>@employee.Fio.Split(' ')[0]</td> *@
            @*         <td>@employee.UserMap</td> *@
            @*         <td>@employee.Cabinet.Name</td> *@
            @*     } *@
            @* } *@
        </tr>
        </tbody>
    </table>
</div>