<h5>
    Если надо срочно найти телефон, я уже и так за пару дней до армухи это писал, так что мне было лень делать поиск.
    Юзай Ctrl+F, и все, жизнь в шоколаде)
</h5>
<ol>
    <li>
        Белтелеком - <b>123</b> горячая линия, <b>550808</b> - сервисный центр г.Гродно Телеграфная 14.
    </li>
    <li>
        НЦЭУ (Национальный центр электронных услуг) <a href="https://nces.by/">Их сайт</a>.
        Эта компания выдает ЭЦП ключи и сертификаты. Также они занимаются поддержкой программ SMBussiness и так далее.
        <a href="https://nces.by/helpdesk_reg/">Здесь зайди, почитай, интересные вопросы здесь есть.</a>
        До их хуй дозвонишься, только набираешь, тебя ставят в очередь, и обычно по очереди ты 20 или 30 бывало.
        Так что на твоем рабочем компе, в гугл хром во вкладках есть HelpDesk, через его, можно общаться с техподдержкой.
        Только измени там номер для связи, чтобы мне не звонили.
    </li>
    <li>
        МАПСОФТ - <a href="https://www.mapsoft.by/support/">Техническая поддержка</a> <b>+375 17 389 38 88</b>. Почта для регистрации пк reg@mapsoft.by
    </li>
    <li>
        СЕД (СМДО) - Техподдержка <b>8(0172)29-22-33</b>
    </li>
    <li>
        Бухгалтер центр (Кристина) - <b>62-58-21</b>
    </li>
    <li>
        Женя, программист с лицея который может помочь, если захочешь, можешь ему набрать: <b>+375336891804</b>. (Если спросят кто дал номер телефона. Скажите что секретарь)
    </li>
    <li>
        Запрвка картриджей Юлия ОфисСитиПлюс - <b>+375295081794</b>. Работают с 9. Если сдать картриджы на заправку или есть какие либо вопросы по актам.
    </li>
    <li>
        Мап Алексей - бывший сотрудник техподдержки, раньше обслуживал нас. <b>+375336617551</b>  (Если спросят кто дал номер телефона. Скажите что сотрудники)
    </li>
    <li>
        Мап Дмитрий - на сегодняшний день, раз в квартал или там реже, приезжает проверяет бэкапы и работу мапа.
    </li>
    <li>
        Зам.Начальника Гаврилова Надежда Викторовна 113 Кабинет - +375295819656.
    </li>
    <li>
        Программист Октяборьского филиала Сергей - +37529868263. Звонить ему если вдруг какие вопросы по программам будут.
    </li>
    <li>
        Программист который обслуживает программу Главный распорядитель(FM) - 720161
    </li>
    <li>
        Остальные номера телефонов, можешь спрашивать у сотрудников, они тебе все подскажут, если что долго не думай,
        нужен срочно номер телефона какой-нибудь, к Гавриловой или к Мокровой подходи, они все номера знают.
    </li>
</ol>