<div class="accordion" id="usefulAccordion">
    <div class="card">
        <div class="card-header" id="usefulRAdmin">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#usefulcollapseRAdmin" aria-expanded="true" aria-controls="collapseRAdmin">
                    RAdmin Viewer - Надежное ПО для удаленного управления компьютером для IT-профессионалов.
                </button>
            </h2>
        </div>

        <div id="usefulcollapseRAdmin" class="collapse show" aria-labelledby="usefulRAdmin" data-parent="#usefulAccordion">
            <div class="card-body">
                Установочник программы находится по адресу: <b>\\server\Soft\Программы\Radmin </b>.
                <img src="~/img/about/radmin-1.jpg" class="rounded img-fluid">
                <br>
                <h4>В скачанном архиве, будет лежать три файла: RAdmin Server, RAdmin Viewer и какая-то хуйня.</h4>
                <h5>
                    Radmin Server 3.5.2.1 необходимо установить на удаленном компьютере (например, на офисном ПК), доступ к которому Вы хотите получить.

                    Прежде всего необходимо запустить Radmin Server на удаленном компьютере. Затем запустить Radmin Viewer на локальном компьютере.
                </h5>
                <hr/>
                <h5>Radmin Viewer 3.5.2.1 необходимо установить на локальном компьютере (например, на домашнем ПК или ноутбуке), который Вы хотите использовать для удаленного управления рабочим столом.</h5>
                <p>
                    --------------------------------
                    Установка Radmin Server 3.5.2.1:
                    --------------------------------
                </p>
                <ol>
                    <li>
                        Запустите файл Radmin_Server_3.5.2.1_RU.msi, чтобы установить Radmin Server.
                    </li>
                    <li>
                        Следуйте инструкциям на экране. Программа установки скопирует все необходимые файлы в системную папку.
                    </li>
                </ol>
                <p>
                    --------------------------------
                    Настройка Radmin Server 3.5.2.1:
                    --------------------------------
                </p>
                <ol>
                    <li>
                        <img src="~/img/about/radmin-2.jpg" class="rounded img-fluid">
                    </li>
                    <li>
                        <img src="~/img/about/radmin-3.jpg" class="rounded img-fluid">
                    </li>
                    <li>
                        <img src="~/img/about/radmin-4.jpg" class="rounded img-fluid">
                    </li>
                    <li>
                        После чего потребуется прокинуть порты в брандмауере. По дефолту порт стоит 4899. Еще может потребоваться прописать порты на маршртизаторе (Основном: ip <a href="http://204.66.100.235/" target="_blank">204.66.100.235</a>).
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="usefulAnyDesk">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#usefulcollapseAnyDesk" aria-expanded="true" aria-controls="collapseAnyDesk">
                    AnyDesk - программа для удаленного досутпа. Быстро и эффективно работает. МАП испольузет данное приложение
                </button>
            </h2>
        </div>

        <div id="usefulcollapseAnyDesk" class="collapse" aria-labelledby="usefulAnyDesk" data-parent="#usefulAccordion">
            <div class="card-body">
                Скачать программу можно по официальной ссылке <a href="https://anydesk.com/ru" target="_blank">Скачать AnyDesk</a>.
                <img src="~/img/about/any-desk1.jpg" class="rounded img-fluid">
                <br>
                Программа проста в использовании. Если садик просит помочь по удаленке, просишь скачать данную программу и дело в шляпе.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="usefulDrCureIt">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#usefulcollapseDrCureIt" aria-expanded="true" aria-controls="collapseDrCureIt">
                    Dr.Web CureIt! - приложения для быстрой очистки флешки он вирусов, нежелательного по, майнеров.
                </button>
            </h2>
        </div>

        <div id="usefulcollapseDrCureIt" class="collapse" aria-labelledby="usefulDrCureIt" data-parent="#usefulAccordion">
            <div class="card-body">
                Скачать программу можно по официальной ссылке <a href="https://free.drweb.ru/download+cureit+free/" target="_blank">Скачать DrCureIt</a>.
                <img src="~/img/about/cureit-1.jpg" class="rounded img-fluid">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="usefulIpScanner">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#usefulcollapseIpScanner" aria-expanded="true" aria-controls="collapseIpScanner">
                    Advanced IP Scanner - приложения для сканирования сети на ip.
                </button>
            </h2>
        </div>

        <div id="usefulcollapseIpScanner" class="collapse" aria-labelledby="usefulIpScanner" data-parent="#usefulAccordion">
            <div class="card-body">
                Скачать программу можно по официальной ссылке <a href="https://www.advanced-ip-scanner.com/" target="_blank">Скачать Ip Scanner</a>.
                <img src="~/img/about/ipscan-1.jpg" class="rounded img-fluid">
                <br/>
                Программа включает в себя множество функция, ночью смотреть кто не вырубил комп на ночь,
                или искать нужный комп по ip и покдлючиться к его папкам или принтерам.
            </div>
        </div>
    </div>
</div>