@model string
 
@{
    ViewData["Title"] = "Добавление уровня доступа";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>


<div asp-validation-summary="All" class="text-danger"></div>
 
<form asp-action="CreateModel" method="post">
    <div class="form-group">
        <label for="name">Название уровня доступа</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>