@{
    var codeError = ViewData["ErrorCode"];
    var codeMessage = ViewData["ErrorMessage"];
    ViewData["Title"] = $"{codeMessage}: {codeError}";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb"> 
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
