@model Cabinet

@{
    ViewData["Title"] = $"Редактирование {Model.Name} кабинета";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Кабинеты</a></li>
    <li class="breadcrumb-item"><a asp-action="Info" asp-route-id="@Model.Id">Кабинет @Model.Name</a></li>
    <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
  </ol>
</nav>

<form method="post" asp-action="EditModel">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" style="display: none;" readonly/>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Обновить</button>
        <a asp-action="Info" asp-route-id="@Model.Id" class="btn btn-primary">Отмена</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}