@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Список пользователей";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Управление
        </li>
        <li class="breadcrumb-item active" aria-current="page">Список пользователей</li>
    </ol>
</nav>
<nav class="navbar navbar-search navbar-light bg-secondary justify-content-between">
    <a class="btn btn-success" asp-area="" asp-action="Create"><i class="bi bi-plus-square"></i> Добавить роль</a>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                         Список пользователей
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>ФИО</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <th>@user.UserName</th>
                                        <th>
                                            <a class="btn btn-sm btn-success" asp-controller="Profile" asp-action="UserProfile" asp-route-id="@user.Id">Профиль</a>
                                        </th>
                                        <th>
                                            <a class="btn btn-sm btn-success" asp-controller="Employee" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                                        </th>
                                        <th>
                                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>