@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Помощник администратора</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white">
        <div class="container">
            <a class="navbar-brand d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="Index">Помощник администратора</a>
            <a class="navbar-brand d-sm-none" asp-area="" asp-controller="Home" asp-action="Index">PAManager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Кабинеты
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Home" asp-action="Index"><i class="bi bi-list-nested text-primary"></i> Список кабинетов</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Create"><i class="bi bi-plus text-success"></i> Добавить кабинет</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ReportAllTechniques"><i class="bi bi-clipboard-data text-info"></i> Отчет по МОЛ</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Report071Check"><i class="bi bi-clipboard-data text-info"></i> Отчет по 071 счету</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="SearchExtended"><i class="bi bi-search text-primary"></i> Расширенный поиск</a>
                            </div>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Управление
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Users" asp-action="Index"><i class="bi bi-people text-primary"></i> Пользователи</a>
                                    <a class="dropdown-item" asp-controller="Role" asp-action="Index"><i class="bi bi-file-lock text-danger"></i> Уровни доступа</a>
                                    <a class="dropdown-item" asp-controller="Role" asp-action="Create"><i class="bi bi-unlock text-danger"></i> Добавить уровень доступа</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold text-warning" asp-action="AboutWorking">Заметки по работе</a>
                            </li>
                        }
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class=" main pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>